:root
{
    background-color: beige;
}


.Header_Title 
{
  font-family: "Black Ops One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
  margin-top: -10px;
  margin-bottom: -20px;
  font-size: 75px;
}

body
{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: beige;
}

#Reset_TargetMove
{
    display: flex;
    justify-content: center;
/*     margin-top: -30px;
    margin-bottom: -30px;
    padding-top: -30px;
    padding-bottom: -30px; */

    height: 30px;
    
}

.target-area
{
    position: relative;

    width: 300px;
    margin: 0 auto;
}

#target img
{
    width: 300px;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
}

#target img:hover
{
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 7.5px 20px rgba(0, 0, 0, 0.35);
    border-radius: 50%;
}

button
{
    padding: 8px 20px;

    background-color: #c20a0a;
    color: white;

    border: 2.5px;
    border-radius: 20px;
    border-color: #000;
    border-style: solid;

    transition: 0.3s ease;

    animation: buttonGlow 2s infinite;
}

button:hover
{
    background-color: hsl(0, 90%, 51%);

    transform: scale(1.1);
}

button#shoot-button
{
    background-color: hsl(240, 88%, 35%);
}

button#shoot-button:hover
{
    background-color: #1e1ed3;
    transform: scale(1.1);

    
}

.arrow 
{
    position: absolute;

    top: 50%;
    left: -152px;

    width: 120px;
    height: 6px;

    background-color: brown;

    transition: transform 0.4s ease;

    transform: translateY(-50%);

    z-index: 2;
}

.arrow-head 
{
    position: absolute;

    right: -14px;
    top: -7px;

    width: 0;
    height: 0;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 18px solid #000;

    z-index: 2;
}

.arrow.aiming 
{
    transform: translate(-40px, -50%);
}

.arrow.shooting 
{
    transition: none;
    animation: shootArrow 0.5s ease-out forwards;
}

@keyframes shootArrow 
{
    0% {
        transform: translate(-40px, -50%);
    }

    100% {
        transform: translate(var(--shoot-x), -50%);
    }
}


.arrow {
    position: absolute;

    top: 49%;
    left: -500px;

    width: 120px;
    height: 6px;

    background-color: brown;

    transition: transform 0.4s ease;

    transform: translateY(-50%);

    z-index: 2;
}

.power-meter 
{
    width: 345px;
    height: 20px;

    margin: 5px auto;

    border: 2px solid black;
    border-radius: 10px;

    overflow: hidden;

    background: linear-gradient(
        to right,
        red 0%,
        red 15%,

        orange 20%,
        orange 30%,

        yellow 35%,
        yellow 45%,

  
        lightgreen 48%,
        lightgreen 52%,


        yellow 55%,
        yellow 65%,

        orange 70%,
        orange 80%,

        red 85%,
        red 100%
    );

}
.power-fill 
{
    width: 0%;
    height: 100%;

    background-color: transparent;

    border-right: 4px solid black;

    box-sizing: border-box;
}

#Hit_Total
{
    display: flex;
    justify-content: center;
    margin: -8px;
}

p#hit1
{
    background-color: chartreuse;
    border-radius: 25px;
    border-color: #000;
    border-width: 3px;
    border-style: solid;

    font-weight: bold;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
}

p#hit2
{
    background-color: chartreuse;
    border-radius: 25px;
    border-color: #000;
    border-width: 3px;
    border-style: solid;

    font-weight: bold;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
}

p#hit3
{
    background-color: chartreuse;
    border-radius: 25px;
    border-color: #000;
    border-width: 3px;
    border-style: solid;

    font-weight: bold;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
}

.Hit_Target
{
    margin-right: 3px;
    z-index: 5;
}

p#score
{
    font-weight: bold;
}

p#highscore
{
    font-weight: bold;
}


/* **************************
   MOVING TARGET SWITCH
************************** */

.moving-target-control
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 15px;
}


/* **************************
   SWITCH
************************** */

.switch
{
    position: relative;
    display: inline-block;
    width: 45px;
    height: 14px;
}


/* **************************
   HIDE CHECKBOX
************************** */

.switch input
{
    opacity: 0;
    width: 0;
    height: 0;
}


/* **************************
   SLIDER BACKGROUND
************************** */

.slider
{
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: hwb(0 4% 40%);

    border-radius: 14px;

    transition: 0.3s;
}


/* **************************
   SLIDER CIRCLE
************************** */

.slider::before
{
    content: "";

    position: absolute;

    width: 12px;
    height: 12px;

    left: 1.5px;
    bottom: 1px;

    background-color: white;

    border-radius: 50%;

    transition: 0.3s;

}


/* **************************
   SWITCH ON
************************** */

.switch input:checked + .slider
{
    background-color: green;
}


/* **************************
   MOVE CIRCLE
************************** */

.switch input:checked + .slider::before
{
    transform: translateX(30px);
}

#moving-target-status
{
    display: inline-block;
    width: 20px;
    text-align: left;
}




