:root
{
    background-color: beige;
}


body
{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: beige;
}

.target-area
{
    position: relative;

    width: 300px;
    margin: 0 auto;
}

#target img
{
    width: 300px;

    transition: transform 0.3s ease;

    z-index: -1;
}

#target img:hover
{
    transform: scale(1.1);

    z-index: -1;
}

button
{
    padding: 12px 20px;

    background-color: darkgreen;
    color: white;

    border: none;
    border-radius: 8px;

    transition: 0.3s ease;

    animation: buttonGlow 2s infinite;
}

button:hover
{
    background-color: green;

    transform: scale(1.1);
}

.arrow 
{
    position: absolute;

    top: 50%;
    left: -152px;

    width: 120px;
    height: 6px;

    background-color: brown;

    transition: transform 0.4s ease;

    transform: translateY(-50%);

    z-index: 2;
}

.arrow-head 
{
    position: absolute;

    right: -14px;
    top: -7px;

    width: 0;
    height: 0;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 18px solid #000;

    z-index: 2;
}

.arrow.aiming 
{
    transform: translate(-40px, -50%);
}

.arrow.shooting 
{
    transition: none;
    animation: shootArrow 0.5s ease-out forwards;
}

@keyframes shootArrow 
{
    0% {
        transform: translate(-40px, -50%);
    }

    100% {
        transform: translate(var(--shoot-x), -50%);
    }
}


.arrow {
    position: absolute;

    top: 49%;
    left: -500px;

    width: 120px;
    height: 6px;

    background-color: brown;

    transition: transform 0.4s ease;

    transform: translateY(-50%);

    z-index: 2;
}

.power-meter 
{
    width: 300px;
    height: 20px;

    margin: 5px auto;

    border: 2px solid black;
    border-radius: 10px;

    overflow: hidden;

    background: linear-gradient(
        to right,
        red 0%,
        red 15%,

        orange 20%,
        orange 30%,

        yellow 35%,
        yellow 45%,

  
        lightgreen 48%,
        lightgreen 52%,


        yellow 55%,
        yellow 65%,

        orange 70%,
        orange 80%,

        red 85%,
        red 100%
    );
}
.power-fill 
{
    width: 0%;
    height: 100%;

    background-color: transparent;

    border-right: 4px solid black;

    box-sizing: border-box;
}

#Hit_Total
{
    display: flex;
    justify-content: center;
    margin: -8px;
}

p#hit1
{
    background-color: chartreuse;
    border-radius: 25px;
    border-color: #000;
    border-width: 3px;
    border-style: solid;

    font-weight: bold;
    padding: 2px;
}

p#hit2
{
    background-color: chartreuse;
    border-radius: 25px;
    border-color: #000;
    border-width: 3px;
    border-style: solid;

    font-weight: bold;
    padding: 2px;
}

p#hit3
{
    background-color: chartreuse;
    border-radius: 25px;
    border-color: #000;
    border-width: 3px;
    border-style: solid;

    font-weight: bold;
    padding: 2px;
}







